@font-face {
    font-family: ProRegular;
    src: url('../../fonts/pro/SF-Pro.ttf');
  }

  @font-face {
    font-family: Playfair;
    src: url('../../fonts/Playfair_Display/static/PlayfairDisplay-Regular.ttf');
  }