//colors
$black00: #000000;
$black01: #2C2C2C;
$black30: #4B4B4B;
$black20: #6E6E6E;
$primary01: #1473E6;

// Font(s)
$font-pro-regular: ProRegular, serif;
$font-pro-text: ProText, serif;
$font-playfair: Playfair, sans-serif;